In [1]:
# Import thư viện
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Đọc file csv
file1_path = 'D:\TTTN\CODE\Data Raw\data_2021.csv'
file2_path = 'D:\TTTN\CODE\Data Raw\data_2022.csv'
file3_path = 'D:\TTTN\CODE\Data Raw\data_2023.csv'

df1 = pd.read_csv(file1_path)
df2 = pd.read_csv(file2_path)
df3 = pd.read_csv(file3_path)

# Gộp ba file csv
df = pd.concat([df1, df2, df3], axis=0, ignore_index=True)

df.head(3)

,Date Created,Location,Brand,Transaction Name,Name,UPC Code,Item,Short Item Code,Color,Size,Material,Quantity,Giá bán lẻ,Giá bán lẻ chưa thuế,Doanh thu chưa thuế,Amount Discount,Sales Rep,Sales Employee,Terms
0,1/13/2021 14:09,MS17 SKM Vincom Ngô Quyền ĐN,Vera : VER,Cash Sale #SO06910100023,CUS0070107 HONGNGOC LÊ,8.935091e+12,V6148 : V6148-P1-LOS0-BBAQBIMRN27T000-0YD-LL,V6148-P1OS00,Hồng nhạt 01,LL,92% Nylon 8% Spandex,1,"125,000.00","113,636.00","43,314.00",0.0,F03040001 Tăng Thị Hồng Anh,NaN,NaN
1,1/13/2021 14:09,MS17 SKM Vincom Ngô Quyền ĐN,Vera : VER,Cash Sale #SO06910100023,CUS0070107 HONGNGOC LÊ,8.935289e+12,V0330 : V0330-P1-LF00-BBAQHWHRT00P000-0XF-L,V0330-P1F000,Xám,L,88% Tencel 12% Polyurethane,1,"185,000.00","168,182.00","94,703.00",0.0,F03040001 Tăng Thị Hồng Anh,NaN,NaN
2,1/13/2021 14:09,MS17 SKM Vincom Ngô Quyền ĐN,Vera : VER,Cash Sale #SO06910100023,CUS0070107 HONGNGOC LÊ,8.935289e+12,V0110 : V0110-P1-LS00-BBAAM3M1N14T000-08D-B80,V0110-P1S000,Da,B80,80% Nylon 20% Spandex,1,"685,000.00","622,727.00","402,304.00",0.0,F03040001 Tăng Thị Hồng Anh,NaN,NaN

In [3]:
# Thông tin dữ liệu
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62811 entries, 0 to 62810
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date Created          62811 non-null  object
 1   Location              62808 non-null  object
 2   Brand                 62808 non-null  object
 3   Transaction Name      62808 non-null  object
 4   Name                  62808 non-null  object
 5   UPC Code              62808 non-null  float64
 6   Item                  62808 non-null  object
 7   Short Item Code       62808 non-null  object
 8   Color                 62808 non-null  object
 9   Size                  62808 non-null  object
 10  Material              62808 non-null  object
 11  Quantity              62811 non-null  object
 12  Giá bán lẻ            62811 non-null  object
 13  Giá bán lẻ chưa thuế  62811 non-null  object
 14  Doanh thu chưa thuế   62811 non-null  object
 15  Amount Discount       62811 non-null  float64
 16  Sales Rep             60955 non-null  object
 17  Sales Employee        59528 non-null  object
 18  Terms                 0 non-null      float64
dtypes: float64(3), object(16)
memory usage: 9.1+ MB

In [4]:
# Tách cột 'Name' thành 2 cột 'Customer ID' và 'Customer Name'
df[['Customer ID', 'Customer Name']] = df['Name'].str.split(' ', n=1, expand=True)

df = df.drop('Name', axis=1)
df = df.drop('Customer Name', axis=1)

In [5]:
# Xóa các cột không cần thiết
df = df.drop(['Sales Rep', 'Sales Employee', 'Terms', 'Amount Discount', 'UPC Code', 'Location'], axis=1)

In [6]:
# Hiện thị giá trị null từng dòng
df.isnull().sum()

Date Created            0
Brand                   3
Transaction Name        3
Item                    3
Short Item Code         3
Color                   3
Size                    3
Material                3
Quantity                0
Giá bán lẻ              0
Giá bán lẻ chưa thuế    0
Doanh thu chưa thuế     0
Customer ID             3
dtype: int64

In [7]:
# Xóa các dòng có giá trị null
df = df.dropna()

In [8]:
# Kiểm tra sau khi xóa giá trị null
df.isnull().sum()

Date Created            0
Brand                   0
Transaction Name        0
Item                    0
Short Item Code         0
Color                   0
Size                    0
Material                0
Quantity                0
Giá bán lẻ              0
Giá bán lẻ chưa thuế    0
Doanh thu chưa thuế     0
Customer ID             0
dtype: int64

In [9]:
# Tách cột 'Transaction Name' thành 2 cột 'Transaction Type' và 'Transaction Code'
df[['Transaction Type', 'Transaction Code']] = df['Transaction Name'].str.extract(r'([^\d]+)\s+(\S+)$')
df['Transaction Code'] = df['Transaction Code'].str.replace('#', '')

df = df.drop('Transaction Name', axis=1)
df = df.drop('Transaction Type', axis=1)

In [10]:
# Mã hóa cột "Brand"
df['Brand'] = df['Brand'].replace('Vera : VERA BY CHIPU', 'VBC')
df['Brand'] = df['Brand'].replace('Jockey : JBU', 'JBU')
df['Brand'] = df['Brand'].replace('Jockey : JOC', 'JOC')
df['Brand'] = df['Brand'].replace('Vera : MIS', 'MIS')
df['Brand'] = df['Brand'].replace('Vera : VER', 'VER')

In [11]:
# Định dạng lại cột 'Date Created'
df['Date Created'] = pd.to_datetime(df['Date Created'], format='%m/%d/%Y %H:%M')

# Chuyển đổi cột 'Quantity' sang kiểu int
df['Quantity'] = df['Quantity'].astype(int)

# Loại bỏ dấu phẩy và khoảng trắng từ chuỗi
df['Giá bán lẻ'] = df['Giá bán lẻ'].str.replace('(', '').str.replace(')', '').str.replace(',', '').str.strip()
df['Giá bán lẻ chưa thuế'] = df['Giá bán lẻ chưa thuế'].str.replace('(', '').str.replace(')', '').str.replace(',', '').str.strip()
df['Doanh thu chưa thuế'] = df['Doanh thu chưa thuế'].str.replace('(', '').str.replace(')', '').str.replace(',', '').str.strip()

# Đổi kiểu dữ liệu từ object sang float64
df['Giá bán lẻ'] = df['Giá bán lẻ'].astype(float)
df['Giá bán lẻ chưa thuế'] = df['Giá bán lẻ chưa thuế'].astype(float)
df['Doanh thu chưa thuế'] = df['Doanh thu chưa thuế'].astype(float)

# Thiết lập tùy chọn hiển thị để không sử dụng scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62808 entries, 0 to 62809
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date Created          62808 non-null  datetime64[ns]
 1   Brand                 62808 non-null  object
 2   Item                  62808 non-null  object
 3   Short Item Code       62808 non-null  object
 4   Color                 62808 non-null  object
 5   Size                  62808 non-null  object
 6   Material              62808 non-null  object
 7   Quantity              62808 non-null  int32
 8   Giá bán lẻ            62808 non-null  float64
 9   Giá bán lẻ chưa thuế  62808 non-null  float64
 10  Doanh thu chưa thuế   62808 non-null  float64
 11  Customer ID           62808 non-null  object
 12  Transaction Code      62808 non-null  object
dtypes: datetime64[ns](1), float64(3), int32(1), object(8)
memory usage: 6.5+ MB

In [13]:
ds = ['Quantity', 'Giá bán lẻ', 'Giá bán lẻ chưa thuế', 'Doanh thu chưa thuế']
df[ds].describe()

       Quantity   Giá bán lẻ  Giá bán lẻ chưa thuế  Doanh thu chưa thuế
count 62808.000    62808.000             62808.000            62808.000
mean      1.066   264117.175            240106.462           158575.768
std       0.376   217361.620            197601.472           140221.715
min      -1.000 -1007315.000           -915741.000          -537037.000
25%       1.000   145000.000            131818.000            63889.000
50%       1.000   205000.000            186364.000           120833.000
75%       1.000   351388.000            319444.000           226363.000
max      14.000  3975000.000           3613636.000          3613636.000

In [14]:
print('Số lượng dòng mà trong đó Số lượng mua và Giá bán lẻ đều có giá trị âm:',
      df[(df.Quantity<0) & (df['Giá bán lẻ']<0)].shape[0])

print('\nWhat is the customer ID of the registers above:','\n',
      df.loc[(df.Quantity<0) & (df['Giá bán lẻ']<0), 
                ['Customer ID']]['Customer ID'].unique())

print('\n% Negative Quantity: {:3.2%}'.format(df[(df.Quantity<0)].shape[0]/df.shape[0]))

Số lượng dòng mà trong đó Số lượng mua và Giá bán lẻ đều có giá trị âm: 49

What is the customer ID of the registers above:
 ['CUS0233128' 'CUS0202376' 'CUS0236909' 'CUS0177806' 'CUS0372666'
 'CUS0000395' 'CUS0074412' 'CUS0377200' 'CUS0211213' 'CUS0378406'
 'CUS0109800' 'CUS0382974' 'CUS0183559' 'CUS0402025' 'CUS0119554'
 'CUS0166444' 'CUS0092609' 'CUS0405362']

% Negative Quantity: 0.14%

In [15]:
# Xóa các giá trị khách vãng lai
df = df[df['Customer ID'] != 'CUS0000395']

In [16]:
# # Tạo mã khách hàng mới cho khách vãng lai
# data_sorted = df.sort_values(by='Date Created')

# # Khởi tạo bảng để lưu trữ mã ID mới
# id_mapping = {}

# # Lặp qua từng dòng trong dữ liệu
# for index, row in data_sorted.iterrows():
#     if row['Customer ID'] == 'CUS0000395': 
#         date_created = row['Date Created']
#         transaction_code = row['Transaction Code']
#         # Tạo key để xác định một nhóm
#         group_key = (date_created, transaction_code)
#         # Kiểm tra xem đã có mã Customer ID được tạo cho nhóm này chưa
#         if group_key in id_mapping:
#             new_id = id_mapping[group_key]
#         else:
#             # Xử lý thông tin từ cột 'Date Created'
#             month = str(date_created.month).zfill(2)
#             day = str(date_created.day).zfill(2)
#             y = str(date_created.year)[-2:]
#             hour_minute = str(date_created.hour + date_created.minute).zfill(2)
#             # Xử lý thông tin từ cột 'Transaction Code'
#             t = str(transaction_code)[-2:]
#             # Tạo mã Customer ID mới
#             new_id = f"VG{month}{day}{y}{hour_minute}{t}"
#             id_mapping[group_key] = new_id  
#         df.at[index, 'Customer ID'] = new_id

In [17]:
# Loại bỏ các giao dịch lỗi hoặc trả hàng
df = df[df["Quantity"] > 0]
df = df[df["Giá bán lẻ"] > 0]

In [18]:
ds = ['Quantity', 'Giá bán lẻ', 'Giá bán lẻ chưa thuế', 'Doanh thu chưa thuế']
df[ds].describe()

       Quantity  Giá bán lẻ  Giá bán lẻ chưa thuế  Doanh thu chưa thuế
count 46864.000   46864.000             46864.000            46864.000
mean      1.055  308662.119            280601.854           184158.458
std       0.349  207020.772            188200.715           135980.985
min       1.000   29000.000             26364.000               -2.000
25%       1.000  157871.000            143519.000            84726.250
50%       1.000  249000.000            226364.000           145833.000
75%       1.000  389000.000            353636.000           247792.000
max      14.000 3975000.000           3613636.000          3613636.000

In [19]:
df['Date Created'] = pd.to_datetime(df['Date Created'])

# Tạo cột "Year month"
df['Year month'] = df['Date Created'].map(lambda x: str(x.year) + '-' + str(x.month))

# Tạo cột "Hour"
df['Hour'] = df['Date Created'].dt.hour

# Tạo cột "Day of week"
df['Day of week'] = df['Date Created'].dt.dayofweek

# Tạo cột "Day"
df['Day'] = df['Date Created'].dt.day_name()

In [20]:
# Tạo cột "Weekend or weekday"
df['Weekend or weekday'] = df['Date Created'].apply(\
                                                     lambda x: 'weekend' if x.dayofweek // 5 == 1 else 'weekday')
df.head()

,Date Created,Brand,Item,Short Item Code,Color,Size,Material,Quantity,Giá bán lẻ,Giá bán lẻ chưa thuế,Doanh thu chưa thuế,Customer ID,Transaction Code,Year month,Hour,Day of week,Day,Weekend or weekday
0,2021-01-13 14:09:00,VER,V6148 : V6148-P1-LOS0-BBAQBIMRN27T000-0YD-LL,V6148-P1OS00,Hồng nhạt 01,LL,92% Nylon 8% Spandex,1,125000.000,113636.000,43314.000,CUS0070107,SO06910100023,2021-1,14,2,Wednesday,weekday
1,2021-01-13 14:09:00,VER,V0330 : V0330-P1-LF00-BBAQHWHRT00P000-0XF-L,V0330-P1F000,Xám,L,88% Tencel 12% Polyurethane,1,185000.000,168182.000,94703.000,CUS0070107,SO06910100023,2021-1,14,2,Wednesday,weekday
2,2021-01-13 14:09:00,VER,V0110 : V0110-P1-LS00-BBAAM3M1N14T000-08D-B80,V0110-P1S000,Da,B80,80% Nylon 20% Spandex,1,685000.000,622727.000,402304.000,CUS0070107,SO06910100023,2021-1,14,2,Wednesday,weekday
3,2021-01-13 14:09:00,VER,V0308 : V0308-P1-LF00-BIVQHIMRN14T000-0B7-L,V0308-P1F000,Hồng,L,80% Nylon 20% Spandex,1,165000.000,150000.000,96905.000,CUS0070107,SO06910100023,2021-1,14,2,Wednesday,weekday
4,2021-01-13 14:09:00,VER,V0310 : V0310-P5-LF00-ABAQBIMRC20T100-02I-M,V0310-P5F000,Tổng hợp 1,M,95% Cotton 5% Spandex,1,299000.000,271818.000,219505.000,CUS0070107,SO06910100023,2021-1,14,2,Wednesday,weekday

In [21]:
# Xuất ra file csv
df.to_csv(r'D:\TTTN\CODE\Data Fixed\data_1.csv', index=False)

In [ ]:
# Xuất ra file csv
data_2021 = df[df['Date Created'].dt.year == 2021]
data_2022 = df[df['Date Created'].dt.year == 2022]
data_2023 = df[df['Date Created'].dt.year == 2023]

data_2021.to_csv(r'D:\TTTN\CODE\Google API\DATA FOLDER\data_2021.xlsx', index=False)
data_2022.to_csv(r'D:\TTTN\CODE\Google API\DATA FOLDER\data_2022.xlsx', index=False)
data_2023.to_csv(r'D:\TTTN\CODE\Google API\DATA FOLDER\data_2023.xlsx', index=False)